
<div class="container d-flex flex-wrap">

<% @flashcards.each do |card| %>
  
    <%= render "card", card: card, title: "Question:", color: "bg-primary-subtle", width: "30%" do %>
            <%= button_to "Edit", edit_flashcard_path(card), method: :get, class: "btn btn-info" %>
            <%= button_to "Delete", delete_flashcard_path(card), method: :delete, params: { "flashcard": card },  class: "btn btn-danger" %>
    <% end %>

<% end %>

</div>